{% extends "base.html" %}
{% block title %}
  Sinclair's Forum
{% endblock %}

{% block content %}
  <h1>Sinclair's Forum</h1>
  <div class="introBox">
    <p>Welcome to my forum where you have the opportunity to network and discuss my web apps created.</p>
    <br>
    <p>click the links below to write a comment on a forum page..</p>
    <br>
  </div>
  <div class="forumPages">
    <a href="#">Web Apps</a>
    <p>Leave a comment on the web apps I have created. What is your favourite? What would you like to improve?</p>
    <br>
    <a href="#">CoLab Network</a>
    <p>Network with other developers, share ideas and resources!</p>
  </div>


{% endblock %}
